@page "/"
@rendermode InteractiveServer

@using ClassLibrary.Data

@inject NavigationManager Navigation

@inject DataBase DataBase
@inject CurrentSession CurrentSession
@inject Saver Saver


<PageTitle>Home</PageTitle>

<h1>Hello, @if(CurrentSession.GetUser() != null) @CurrentSession.GetUser().GetName()!</h1>


Welcome to your new app.
<a href="/register">To Register</a>

<div class="TrainSearchField" style="display:flex; flex-direction:column; gap:10px; width:100%; align-items: center">
    <div class="row w-100" style="max-width:700px">
        <label class="col-5">Train Code</label>
        <input class="col-7" @bind="_trainCode" />
    </div>
    <div class="row w-100" style="max-width:700px">
        <label class="col-5">Departure Station</label>
        <select class="col-7" @bind="_departureStation">
            @foreach (var stationName in Enum.GetValues(typeof(StationName)))
            {
                <option value="@stationName">
                    @stationName.ToString()
                </option>
            }
        </select>
    </div>
    <div class="row w-100" style="max-width:700px">
        <label class="col-5">Arrival Station</label>
        <select class="col-7" @bind="_arrivalStation">
            @foreach (var stationName in Enum.GetValues(typeof(StationName)))
            {
                <option value="@stationName">
                    @stationName.ToString()
                </option>
            }
        </select>
    </div>
    <div class="row w-100" style="max-width:700px">
        <label class="col-5">Departure Date</label>
        <input type="datetime-local" class="col-7" @bind="_departureDate" />
    </div>
    <div class="row w-100" style="max-width:700px">
        <label class="col-5">Arrival Date</label>
        <input type="datetime-local" class="col-7" @bind="_arrivalDate" />
    </div>

    <div class="row w-100" style="max-width:700px">
        <label class="col-12" style="text-align:center">Options</label>
        @foreach (Option option in Enum.GetValues(typeof(Option)))
        {
            <div class="row w-100" style="max-width:700px">
                <input type="checkbox" class="col-1" value="@option" checked="@_options.Contains(option)" @onchange="(e) => ChangeOption(option, e.Value)" />
                <label class="col-6">@SplitPascalCase(@option.ToString())</label>
            </div>
        }
    </div>

    <div class="row w-100" style="max-width:700px">
        <label class="col-12" style="text-align:center">Preferred Route Type</label>
        <label class="col-3">
            <input type="radio" name="RouteType" checked="@(_routeType == RouteType.Fastest)" @onchange="() => _routeType=RouteType.Fastest" />
            Fastest
        </label>
        <label class="col-3">
            <input type="radio" name="RouteType" checked="@(_routeType == RouteType.Shortest)" @onchange="() => _routeType=RouteType.Shortest"/>
            Shortest
        </label>
        <label class="col-3">
            <input type="radio" name="RouteType" checked="@(_routeType == RouteType.Cheapest)" @onchange="() => _routeType=RouteType.Cheapest" />
            Cheapest
        </label>
        <label class="col-3">
            <input type="radio" name="RouteType" checked="@(_routeType == RouteType.MostComfortable)" @onchange="() => _routeType=RouteType.MostComfortable" />
            Most Comfortable
        </label>
    </div>

    <div class="row w-100" style="max-width:700px">
        <button @onclick="Search" class="col-12">Search</button>
    </div>
</div>

@code {
    string? _trainCode = "";
    StationName? _departureStation = null;
    StationName? _arrivalStation = null;
    DateTime? _departureDate = null;
    DateTime? _arrivalDate = null;
    RouteType _routeType = RouteType.Fastest;
    List<Option> _options = new();

    private void Search()
    {
        // DataBase.AddPassengerTrain("tre1brenner", StationName.Brenner, _options);
        // DataBase.AddPassengerTrain("tre1bolzano", StationName.Bolzano, _options);
        //DataBase.TrainSeacrh("tre1brenner", null, null, null, null, null, null).First().AddRouteStop(new DateTime(2026, 05, 31, 15, 30, 00), new DateTime(2026, 05, 31, 15, 45, 00), null, 2);

        if (_trainCode == "") _trainCode = null;

        if (_departureStation == StationName.SelectStation) _departureStation = null;
        if (_arrivalStation == StationName.SelectStation) _arrivalStation = null;


        Saver.SaveFilteredTrains(DataBase.TrainSeacrh(_trainCode, _departureStation, _arrivalStation, _departureDate, _arrivalDate, _routeType, _options));
        Navigation.NavigateTo("/trains");
    }

    private void ChangeOption(Option option, object isChecked)
    {
        if ((bool)isChecked)
        {
            if (!_options.Contains(option))
            {
                _options.Add(option);
            }
        }
        else
        {
            if (_options.Contains(option))
            {
                _options.Remove(option);
            }
        }
    }

    private string SplitPascalCase(string word)
    {
        string text = "";

        foreach (char c in word)
        {
            if (char.ToUpper(c) == c && text.Length != 0) text += " ";
            text += c;
        }

        return text;
    }
}