@page "/trains"

@using ClassLibrary.Data
@using ClassLibrary.Trains
@using ClassLibrary.Users

@inject NavigationManager Navigation

@inject DataBase DataBase
@inject CurrentSession CurrentSession
@inject Saver Saver

<div>
	<div class="row w-100" style="display:flex; flex-direction:column; gap:10px; width:100%; align-items: center">

		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Type</th>
					<th>Train Code</th>
					<th>Details</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				@foreach (Train train in Saver.ReturnFilteredTrains())
				{
					<tr>
						<td>@train.GetId()</td>
						<td>@((train.GetType() == typeof(PassengerTrain))?"Passenger":"Freight")</td>
						<td>@train.GetTrainCode()</td>


						@if(train.GetType() == typeof(PassengerTrain))
						{
							<td>
								@foreach (Option option in ((PassengerTrain)(train)).GetAllOptions())
								{
									<i class="@OptionSwitch(option)" style="margin-right: 8px" />
								}
							</td>
						}
						else
						{
							<td>
								@* Capacity = @(((FreightTrain)(train)).GetCapacity()) *@
							</td>
						}


						<td style="width: 6%; text-align: center;">
							<button type="button" @onclick="() => OpenTrain(train)">
								Open <i class="bi bi-arrow-right-short"></i>
							</button>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@code {
	private void OpenTrain(Train train)
	{
		List<Train> trains = new();
		trains.Add(train);

		Saver.SaveFilteredTrains(trains);

		if (CurrentSession.GetUser() is Staff staff && staff.GetRole() == Role.NetworkManager)
		{
			Navigation.NavigateTo("/modifytrain");
		}
		else
		{
			Navigation.NavigateTo("/bookticket");
		}
	}

	private string OptionSwitch(Option option)
	{
		switch (option)
		{
			case Option.PetTransport:
				return "bi bi-leaf";
			case Option.RestaurantCar:
				return "bi bi-cup-hot";
			case Option.BicycleTransport:
				return "bi bi-bicycle";	
		}
		return "";
	}
}
